<strong>Olá, {{ deliveryman }}</strong>
<p>Devido à um problema a entrega número {{delivery_id}} foi cancelada.</p>
<p>
  <strong>Produto: </strong> {{ product }} <br /> <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Problema: </strong> {{ description }} <br />
</p>
